@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;400;500;700 & display=swap');
/* https://codepen.io/enxaneta/full/adLPwv/ */
html {
    font-family:'Open Sans', sans-serif;

}
.flex {  
    background-color: coral;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: wheat;
    font-size: large;
}
.contenedor-1{
    background-color: blueviolet;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
    
}
.contenedor-2{
    background-color: blueviolet;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
.contenedor-3{
    background-color: blueviolet;
    height: 200px;
    width: 100px;
    border: 1px solid blue;
}
